$space-0: 0rem;
$space-15: 0.125rem;
$space-25: 0.25rem;
$space-50: 0.5rem;
$space-75: 0.75rem;
$space-100: 1rem;
$space-125: 1.125rem;
$space-150: 1.5rem;
$space-200: 2rem;
$space-300: 3rem;
$space-400: 4rem;
$space-450: 4.5rem;
$space-500: 5rem;
