$border-none: 0;
$border-width-small: 1px;
$border-width-medium: 2px;
$border-width-large: 3px;
$border-width-x-large: 5px;
$border-width-xx-large: 10px;

$border-radius-small: 3px;
$border-radius-medium: 6px;
$border-radius-large: 10px;
$border-radius-half: 50%;

$opacity-10: 0.1;
$opacity-20: 0.2;
$opacity-60: 0.6;

$shadow-x-small: 0 1px 3px rgba(0,0,0, $opacity-60);
$shadow-small: 0 1px 4px rgba(0,0,0, $opacity-20);
$shadow-medium: 0 2px 8px rgba(0,0,0, $opacity-20);
$shadow-large: 0 4px 10px rgba(0,0,0, $opacity-20);

@mixin loading-spinner-shadow($color){
    box-shadow: 1px 5px 2px $color;
}