$color-monochrome-100: #fff;
$color-monochrome-200: #C0C0C0;
$color-monochrome-300: #808080;
$color-monochrome-400: #000;

$color-primary-100: #00BFFF;
$color-primary-200: #00bfffe0;
$color-primary-300: #1E90FF;
$color-primary-400: #29157E;

$color-error: #FE2712;