$color-monochrome-100: #fff;
$color-monochrome-200: #C0C0C0;
$color-monochrome-300: #808080;
$color-monochrome-400: #000;

$color-primary-100: #1E90FF;
$color-primary-200: #00BFFF;

$color-error: #FE2712;