$size-100: 1rem;
$size-125: 1.25rem;
$size-150: 1.5rem;
$size-200: 2rem;
$size-225: 2.25rem;
$size-250: 2.5rem;
$size-275: 2.75rem;
$size-300: 3rem;
$size-350: 3.5rem;
$size-400: 4rem;
$size-450: 4.5rem;
$size-525: 5.25rem;
$size-600: 6rem;
$size-750: 7.5rem;
$size-1200: 12rem;

