$font-size-50: 0.875rem;
$font-size-100: 1rem;
$font-size-150: 1.125rem;
$font-size-200: 1.25rem;
$font-size-300: 1.5rem;
$font-size-400: 1.875;
$font-size-500: 2.125rem;
$font-size-700: 3rem;
$font-size-750: 3.5rem;
$font-size-900: 5rem;
$font-size-1000: 8.75rem;