@import '../../Utils/Styles/index';

$button-class-prefix: 'button';

.#{$button-class-prefix} {
    border-radius: $border-radius-large;
    margin: $space-50;
    border: $border-width-large solid $color-primary-100;
    padding: $space-75;
    
    &--outline {
        background-color: transparent;
    }
    &--filled {
        background-color: $color-primary-100;
    }

    &__label {
        font-size: $font-size-150;
        font-weight: bold;
    }

    &--filled__label {
        color:$color-primary-400;
    }

    &--outline__label {
        color:$color-primary-200;
    }

    &--filled:hover  {
        background-color: $color-primary-200;
        border: $border-width-large solid $color-primary-200;
        cursor: pointer;
    }

    &--outline:hover {
        background-color: $color-primary-400;
        cursor: pointer;

        &--outline__label {
            color:$color-primary-200;
        }
    }

    &--filled:focus {
        outline: none;
        background-color: $color-primary-200;
    }

    &--outline:focus {
        outline: none;
        border: $border-width-large solid $color-primary-300;
    }
}